

button.del_project{
	position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    padding: 2px 5px !important;
    background-color: #0ab595 !important;
    border-color: #09a084 !important;
    opacity: 0.6;
}

button.del_project:hover{
	background-color: #ff7076 !important;
    border-color: #ff7076 !important;
    opacity: 1 !important;
    cursor: pointer;
}


.modal-footer button{
	width: 50% !important;
}

.modal-footer input{
    width: 100%;
}

.modal-footer form{
    width: 50% !important;
}
